@page "/login"
@using DumaemSchool.BlazorWeb.Data
@using Microsoft.AspNetCore.Identity
@using DumaemSchool.Auth.Models
@using DumaemSchool.Auth.Managers
@using DumaemSchool.BlazorWeb.Middleware

@inject UserManager<SchoolUser> UserManager
@inject SchoolSignInManager SignInManager;
@inject NavigationManager NavigationManager;
<h3>LoginPage</h3>

@code {

    private readonly LoginCredentials _model = new() { Email = "wingimobile@gmail.com", Password = "kredit200"};

    private async Task LogInAsync()
    {
        var user = await UserManager.FindByEmailAsync(_model.Email);
        if (user is null)
        {
            // TODO: пользователь не существует
            throw new NotImplementedException();
        }

        if (!await SignInManager.CanSignInAsync(user))
        {
            // TODO: учитель уволен (удален)
            throw new NotImplementedException();
        }

        var result = await SignInManager.CheckPasswordSignInAsync(user, _model.Password, false);
        if (!result.Succeeded)
        {
            // TODO: неверный пароль
            throw new NotImplementedException();
        }

        var key = Guid.NewGuid();
        AuthenticationMiddleware.Logins[key] = _model;
        NavigationManager.NavigateTo($"/login?key={key}", true);
    }

}